<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:hgon="http://typo3.org/ns/HGON/HgonTemplate/ViewHelpers"
    xmlns:workgroup="http://typo3.org/ns/HGON/HgonWorkgroup/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{workgroup:checkDateOfEventList(eventList: eventList)}">
    <f:then>
        <div id="tx-rkwevents-grid-section-workgroup">
            <!-- further boxes with events -->
            <f:for each="{eventList}" as="event">
                <article class="textbox textbox--toggle / mb-1 / color-bg-light">
                    <div class="flex-container gutter">
                        <div class="flex-item align-center align-item-center c-2">
                            <svg width="48" height="48"><use xlink:href="#ui-event"></use></svg><br>
                            <strong>
                                <f:format.date format="d.m.">{event.startdate}</f:format.date>
                            </strong>
                        </div>
                        <div class="flex-item c-10">
                            <header class="textbox__header">
                                <h5 class="textbox__headline">{event.title}</h5>
                                <span class="textbox__subline">
                                    <strong>
                                        <time datetime="{event.startdate -> f:format.date(format: 'd-m-Y H:i')}"><f:format.date format="d.m.Y H:i">{event.startdate}</f:format.date></time>
                                    </strong>
                                    <f:if condition="{event.location.city}">
                                        <f:then> · {event.location.city}</f:then>
                                        <f:else> · Online</f:else>
                                    </f:if>
                                </span>
                            </header>
                            <div class="textbox__content">
                                <f:if condition="{event.teaser}">
                                    <f:format.crop maxCharacters="250">
                                        <f:format.stripTags>{event.teaser}</f:format.stripTags>
                                    </f:format.crop>
                                </f:if>
                            </div>
                            <footer class="textbox__footer">
                                <f:link.action action="detail" controller="Event" pluginName="Pieventdetail" extensionName="SfEventMgt" pageUid="{settings.event.showPid}" arguments="{event: event}" class="btn btn--primary-outline btn--rounded" title="{event.title}">
                                    Mehr erfahren
                                </f:link.action>
                            </footer>
                        </div>
                    </div>
                </article>
            </f:for>
        </div>
    </f:then>
    <f:else>
        <div class="no-search-results first-letter-normal content content-box">
            <div class="csc-default csc-element-n1">
                <p><strong>In nächster Zeit sind keine regionalen Veranstaltungen geplant</strong></p>
            </div>
        </div>
    </f:else>
</f:if>

</html>
