<f:comment>
    <!-- old -->
    <div class="flex-item c-<f:cObject typoscriptObjectPath='lib.math' data='12/<f:count>{row}</f:count>' />">
        <article class="card card-plain card--border">
            <div class="card__inner">
                <header class="card__header">
                    <h3 class="headline">{workGroup.title}</h3>
                </header>
                <footer class="card__footer">
                    <f:link.page class="btn btn--rounded btn--tertiary" pageUid="{settings.showPid}" additionalParams="{tx_hgonworkgroup_detail: {workGroup: workGroup}}">
                        <f:translate key="tx_hgonworkgroup_template_general.findOutMore" />
                    </f:link.page>
                </footer>
            </div>
        </article>
    </div>
</f:comment>

<f:if condition="{workGroup.image}">
    <f:then>
        <f:comment><!-- iterate and set first image of news --></f:comment>
        <f:render section="inner" arguments="{type: type, image: workGroup.image, title: workGroup.title, teaserText: workGroup.short_description, text: workGroup.description}" />
    </f:then>
    <f:else>
        <f:render section="inner" arguments="{type: type, title: workGroup.title, teaserText: workGroup.short_description, text: workGroup.description}" />
    </f:else>
</f:if>
<footer class="card__footer">

    <f:if condition="{workGroup.image}">
        <f:then>
            <f:link.page class="btn btn--rounded btn--white" pageUid="{settings.showPid}" additionalParams="{tx_hgonworkgroup_detail: {workGroup: workGroup}}">
                <f:translate key="tx_hgonworkgroup_template_general.findOutMore" />
            </f:link.page>
        </f:then>
        <f:else>
            <f:link.page class="btn btn--rounded btn--tertiary" pageUid="{settings.showPid}" additionalParams="{tx_hgonworkgroup_detail: {workGroup: workGroup}}">
                <f:translate key="tx_hgonworkgroup_template_general.findOutMore" />
            </f:link.page>
        </f:else>
    </f:if>

</footer>
</div>
</article>
</div>


<f:comment><!-- Real content area --></f:comment>
<f:section name="inner">
    <div class="flex-item c-6">
        <f:comment><!-- if c6 or greater, place image as background --></f:comment>

        <f:if condition="{image}">
            <f:then>
                <f:comment><!-- if image and greater than c4: No border & image as background --></f:comment>
                <article class="card card-image" style="background-image: url(<f:uri.image image='{image}' absolute='true' width='800' />);">
            </f:then>
            <f:else>
                <f:comment><!-- if plain: Always border --></f:comment>
                <article class="card card-plain card--border">
            </f:else>
        </f:if>

        <f:comment><!-- if c4 the box has an image tag --></f:comment>
        <f:if condition="{image} && {type} == 'c-4'">
            <picture class="card__image">
                <f:image src="{image.uid}" treatIdAsReference="1" title="{image.title}" alt="{image.alternative}" width="395" height="300" />
            </picture>
        </f:if>
        <div class="card__inner">
            <header class="card__header">
                <time class="tagline" datetime="{f:format.date(format: 'Y.m.d', date: date)} "><f:format.date format="d.m.Y">{date}</f:format.date></time>
                <h3 class="headline">{title}</h3>
            </header>

            <f:comment>
                <div class="card__content">
                    <f:format.html>{text}</f:format.html>
                </div>
            </f:comment>



</f:section>