<f:if condition="{workGroup}">
    <picture class="picture">
        <f:if condition="{workGroup.image}">
            <source media="(min-width: 64.063em)" srcset="<f:uri.image image='{workGroup.image}' treatIdAsReference='1' absolute='true' cropVariant='14to5' width='1680' height='600' />">
            <source media="(min-width: 48.063em) and (max-width: 64em)" srcset="<f:uri.image image='{workGroup.image}' treatIdAsReference='1' absolute='true' cropVariant='14to5' width='1024' height='350' />">
            <source media="(min-width: 37.563em) and (max-width: 48em)" srcset="<f:uri.image image='{workGroup.image}' treatIdAsReference='1' absolute='true' cropVariant='14to5' width='768' height='350' />">
            <source media="(max-width: 37.5em)" srcset="<f:uri.image image='{workGroup.image}' treatIdAsReference='1' absolute='true' cropVariant='14to5' width='600' height='350' />">
            <f:image image="{workGroup.image}" treatIdAsReference="1" width="1680" cropVariant="14to5" />
        </f:if>
    </picture>
    <div class="wrap wrap--text / align-center">
        <h1>
            <span class="badge badge--dark">{workGroup.title}<span class="is-hidden">: </span></span>
            <span class="h1 headline">{workGroup.shortDescription}</span>
        </h1>
    </div>
</f:if>