{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">

        <div class="article__content">
            <p>{workGroup.shortDescription}</p>
            <p><f:format.html>{workGroup.description}</f:format.html></p>



            <f:if condition="<f:count>{workGroup.files}</f:count>">
                <h5>Informationen zum herunterladen</h5>
                <div id="journal-flex-container" class="flex-container space-between gutter valign-stretch">
                    <f:for each="{workGroup.files}" as="file">


                        <div class="flex-item c-6">
                            <article class="card card--border ">
                                <picture>
                                    <v:media.pdfThumbnail src="{file.originalResource.publicUrl}" alt="{file.originalResource.title}" />
                                </picture>

                                <div class="card__inner">
                                    <header class="card__header">
                                        <span class="badge badge--secondary">PDF<span class="is-hidden">: </span></span>
                                        <h3 class="headline">{file.originalResource.title}</h3>
                                    </header>
                                    <footer class="card__footer">
                                        <f:link.typolink parameter="{file.originalResource.publicUrl}">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Öffnen
                                        </f:link.typolink>
                                    </footer>
                                </div>
                            </article>
                        </div>


                    </f:for>
                </div>
            </f:if>
        </div>



        <f:if condition="{sortedWorkgroupEventList}">
            <h2>Anstehende Arbeitskreistreffen</h2>

            <div class="flex-container space-between gutter / mt-1" id="tx-rkwevents-grid-section-workgroup">
                <f:if condition="<f:count>{sortedWorkgroupEventList}</f:count>">
                    <f:then>
                        <f:for each="{sortedWorkgroupEventList}" as="eventsInYear" iteration="year">
                            <f:for each="{eventsInYear}" as="eventsInMonth" iteration="month">
                                <f:for each="{eventsInMonth}" as="event">
                                    <f:render partial="Event/List/Box" arguments="{_all}" section="list" />
                                </f:for>
                            </f:for>
                        </f:for>
                    </f:then>
                    <f:else>
                        <div class="no-search-results first-letter-normal content content-box">
                            <div class="csc-default csc-element-n1">
                                <p><strong>Es wurde kein passendes Arbeitsgruppentreffen gefunden.</strong></p>
                            </div>
                        </div>
                    </f:else>
                </f:if>
            </div>
        </f:if>

        <br/><br/>

        <f:if condition="{sortedEventList}">
            <h2>Anstehende Veranstaltungen</h2>
            <f:render partial="Event/List/EventListing" arguments="{_all}" />
        </f:if>

        <f:comment>
            <section class="section / js-tabs-container">

                <div class="section__content / no-padding-top">
                    <div class="flex-container space-between gutter">
                        <div class="flex-item c-12 ">
                            <nav class="nav nav--tab js-tab-nav / align-right">
                                <ul>
                                    <li class="active"><a class="js-tab-link" href="#tab-01" data-index="0">Veranstaltungen</a></li>
                                    <li><a class="js-tab-link" href="#tab-02" data-index="1">Arbeitskreistreffen</a></li>
                                </ul>
                            </nav>
                            <div class="tabs js-tabs" style="height: 343px;">
                                <div class="tab__item js-tab-item active" style="opacity: 1; visibility: inherit;">
                                    <div class="flex-item c-12">
                                        <section class="box box--bordered pb-1">
                                            <header class="box__header">
                                                <div class="wrap">
                                                    <h2 class="tagline">Anstehende Veranstaltungen</h2>
                                                </div>
                                            </header>
                                            <f:render partial="WorkGroup/Events" arguments="{eventList: workGroup.stdEvent}" />
                                        </section>
                                    </div>
                                </div>
                                <div class="tab__item js-tab-item">
                                    <div class="flex-item c-12">
                                        <section class="box box--bordered pb-1">
                                            <header class="box__header">
                                                <div class="wrap">
                                                    <h2 class="tagline">Kommende Arbeitskreis-Treffen</h2>
                                                </div>
                                            </header>
                                            <f:render partial="WorkGroup/Events" arguments="{eventList: workGroup.wgEvent}" />
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </f:comment>


	</f:section>

</html>