<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
	<f:layout name="Default" />

	<f:section name="content">

        <div class="article__content">
            <p>{workGroup.shortDescription}</p>
            <p><f:format.html>{workGroup.description}</f:format.html></p>

            <f:if condition="{eventList}">
                <h5>Anstehende Veranstaltungen</h5>
                <f:render partial="WorkGroup/Events" arguments="{eventList: eventList, settings: settings}" />
            </f:if>


            <f:if condition="<f:count>{workGroup.files}</f:count>">
                <h5>Informationen zum herunterladen</h5>
                <div id="journal-flex-container" class="flex-container space-between gutter valign-stretch">
                    <f:for each="{workGroup.files}" as="file">


                        <div class="flex-item c-6">
                            <article class="card card--border ">
                                <picture>
                                    <v:media.pdfThumbnail src="{file.originalResource.publicUrl}" alt="{file.originalResource.title}" />
                                </picture>

                                <div class="card__inner">
                                    <header class="card__header">
                                        <span class="badge badge--secondary">PDF<span class="is-hidden">: </span></span>
                                        <h3 class="headline">{file.originalResource.title}</h3>
                                    </header>
                                    <footer class="card__footer">
                                        <f:link.typolink parameter="{file.originalResource.publicUrl}">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp; Öffnen
                                        </f:link.typolink>
                                    </footer>
                                </div>
                            </article>
                        </div>


                    </f:for>
                </div>
            </f:if>
        </div>
	</f:section>

</html>
