{namespace hgon=HGON\HgonTemplate\ViewHelpers}

<f:if condition="{workGroup}">
    <f:link.page class="link link--icon / float-right" pageUid="{settings.listPid}" title="Entdecken">
        <svg class="icon icon--btn-left" width="18" height="18"><use xlink:href="#ui-arrow-left"></use></svg>
        Zurück zur Übersicht
    </f:link.page>

    <f:for each="{workGroup.contactPerson}" as="author">
        <f:if condition="{author}">
            <aside class="aside color-bg-tertiary">
                <header class="aside__header">
                    <h6>
                        Ansprechpartner*In
                    </h6>
                </header>
                <div class="aside__content">
                    <p class="cf">
                        <f:if condition="{author.imageBoxes}" >
                            <f:image class="img-left" image="{author.imageBoxes}" alt="{author.imageBoxes.title}" cropVariant="1to1" width="100" height="100" />
                        </f:if>
                    </p>
                    <p>
                        <strong>{author.firstName} {author.lastName}</strong>
                        <br/>
                        {author.functionTitle}
                        <br/>
                    </p>
                    <p>
                        <f:if condition="{author.phone} || {author.phone2}">
                            <a href="tel:<hgon:php.pregReplace pattern='[^+0-9]' replacement='' subject='{author.phone} {author.phone2}' />">
                                <svg class="icon icon--btn-left color-font-primary" width="16" height="16"><use xlink:href="#ui-phone"></use></svg>
                                <f:format.stripTags>{author.phone} {author.phone2}</f:format.stripTags>
                            </a>
                            <br>
                        </f:if>
                        <f:if condition="{author.email}">
                            <a href="mailto:<f:format.stripTags><f:format.html>{author.email}</f:format.html></f:format.stripTags>">
                                <svg class="icon icon--btn-left color-font-primary" width="16" height="16"><use xlink:href="#ui-mail"></use></svg>
                                <f:link.email email="{author.email}" />
                            </a>
                        </f:if>
                    </p>
                </div>
            </aside>
        </f:if>
    </f:for>

    <f:if condition="{newsList}">
        <aside class="aside aside--border aside--has-btn aside-timeline color-bg-white">
            <header class="aside__header">
                <h6>Meldungen</h6>
            </header>
            <div class="aside__content">
                <f:for each="{newsList}" as="newsItem">
                    <div class="aside-timeline__item aside-timeline__item--first">
                    <span class="aside-timeline__date">
                        <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                            <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                        </time>
                    </span>
                        <p>
                            <f:link.page pageUid="{settings.news.showPid}" additionalParams="{tx_news_pi1:{news: newsItem, controller: 'News', action: 'detail'}}">
                                {newsItem.title}
                            </f:link.page>
                        </p>
                    </div>
                </f:for>
            </div>
        </aside>
    </f:if>
</f:if>

